.heading{
    width:100%;
    text-align:left;
}
.heading h3{
    display:inline-block;
}
.heading button{
    float:right;
    border:3px dashed yellow;
}
#start, #status{
    font-size:20px;
}
.modal-dialog{
    width: 75%;
}
.modal-body{
    text-align:left;
    font-size:20px;
}
h4{
    background-color: grey;
    color:mediumturquoise;
    line-height:2;
}
canvas{
    border:5px solid red;
    border-radius:20px;
    box-shadow:3px 5px 10px blue;
}